# Install dependencies with:
# sed '/#/d' .github/workflows/bbbb-requirements.txt \
# | xargs sudo apt-get install --no-install-recommends -y
#
# libxcrypt
#
autoconf
autoconf-archive
automake
libtool
#
# libsystemd
#
# The following package isn't avilable on github ubuntu-latest (24.04) runners
# python3.10-venv
#
# simh
#
libpcap-dev
libvdeplug-dev
